{% extends 'WineAdministrationBundle:Default:defaultLayout.html.twig' %}
{% block title %}Weinverwaltung - Weinverwatlung{% endblock %}
{% block body %}
{% include 'WineAdministrationBundle:Default:navigation.html.twig' with {'activeMenu': 'wine'} %}
    <div class="row">
        <div class="table">
            <div>
                <div></div>
                <div>Name</div>
                <div>Rebsorten</div>
                <div>Jahrgang</div>
                <div>Weingut</div>
                <div>Stadt</div>
                <div>PLZ</div>
                <div>Region</div>
                <div>Land</div>
                <div>Art</div>
                <div>Typ</div>
                <div>Füllmenge</div>
                <div>Preis</div>
                <div>Verfügbar</div>
            </div>
{% for wine in wines %}
            <form id="wine_edit_{{ wine.id }}" action="{{ path('wineadministration_webinterface_editwine', { 'searchCriteria': wine.id }) }}" method="POST">
                <div>{{ wine.id }}&nbsp;</div>
                <div><input class="noMargin" type="text" name="name" form="wine_edit_{{ wine.id }}" value="{{ wine.name }}"></div>
                <div><input class="noMargin" type="text" name="varietal" form="wine_edit_{{ wine.id }}" value="{{ wine.varietal|join(', ') }}"></div>
                <div><input class="noMargin" type="text" name="vintage" form="wine_edit_{{ wine.id }}" value="{{ wine.vintage }}"></div>
                <div><input class="noMargin" type="text" name="vineyard" form="wine_edit_{{ wine.id }}" value="{{ wine.vineyard }}"></div>
                <div><input class="noMargin" type="text" name="city" form="wine_edit_{{ wine.id }}" value="{{ wine.city }}"></div>
                <div><input class="noMargin" type="text" name="zipcode" form="wine_edit_{{ wine.id }}" value="{{ wine.zipcode }}"></div>
                <div><input class="noMargin" type="text" name="region" form="wine_edit_{{ wine.id }}" value="{{ wine.region }}"></div>
                <div><input class="noMargin" type="text" name="country" form="wine_edit_{{ wine.id }}" value="{{ wine.country }}"></div>
                <div><input class="noMargin" type="text" name="kind" form="wine_edit_{{ wine.id }}" value="{{ wine.kind }}"></div>
                <div><input class="noMargin" type="text" name="type" form="wine_edit_{{ wine.id }}" value="{{ wine.type }}"></div>
                <div><input class="noMargin" type="text" name="volume" form="wine_edit_{{ wine.id }}" value="{{ wine.volume|number_format(2, ',', '.') }}"></div>
                <div><input class="noMargin" type="text" name="price" form="wine_edit_{{ wine.id }}" value="{{ wine.price|number_format(2, ',', '.') }}"></div>
                <div><input class="noMargin" type="text" name="available" form="wine_edit_{{ wine.id }}" value="{{ wine.available ? 'x' : 'o' }}"></div>
                <div><button class="tiny button postfix" type="submit" name="submit" form="wine_edit_{{ wine.id }}" value=" Bearbeiten "><i class="fi-pencil"></i></button></div>
                <div><button class="tiny button postfix radius" type="submit" name="delete" form="wine_edit_{{ wine.id }}" value=" Löschen "><i class="fi-x"></i></button></div>
            </form>
{% endfor %}
            <form id="wine_add" action="{{ path('wineadministration_webinterface_addwine') }}" method="POST">
                <div></div>
                <div><input type="text" name="name" form="wine_add" value=""></div>
                <div><input type="text" name="varietal" form="wine_add" value=""></div>
                <div><input type="text" name="vintage" form="wine_add" value=""></div>
                <div><input type="text" name="vineyard" form="wine_add" value=""></div>
                <div><input type="text" name="city" form="wine_add" value=""></div>
                <div><input type="text" name="zipcode" form="wine_add" value=""></div>
                <div><input type="text" name="region" form="wine_add" value=""></div>
                <div><input type="text" name="country" form="wine_add" value=""></div>
                <div><input type="text" name="kind" form="wine_add" value=""></div>
                <div><input type="text" name="type" form="wine_add" value=""></div>
                <div><input type="text" name="volume" form="wine_add" value=""></div>
                <div><input type="text" name="price" form="wine_add" value=""></div>
                <div><input type="text" name="available" form="wine_add" value=""></div>
                <div><button  class="tiny button postfix radius special" type="submit" name="submit" form="wine_add" value=" Hinzufügen "><i class="fi-plus"></i></button></div>
            </form>
        </div>
    </div>
{% endblock %}