{% extends 'WineAdministrationBundle:Default:defaultLayout.html.twig' %}
{% block title %}Weinverwaltung - Kundenverwaltung{% endblock %}
{% block body %}
    {% include 'WineAdministrationBundle:Default:navigation.html.twig' with {'activeMenu': 'client'} %}
        <div class="table">
            <div>
                <div>Vorname</div>
                <div>Nachname</div>
                <div>Straße</div>
                <div>Hausnummer</div>
                <div>PLZ</div>
                <div>Stadt</div>
                <div>Telefon Nummern</div>
            </div>
{% for user in users %}
            <form id="user_edit_{{ user.id }}" action="{{ path('wineadministration_webinterface_editclient', { 'searchCriteria': user.id }) }}" method="POST">
                <div><input type="text" name="forename" form="user_edit_{{ user.id }}" value="{{ user.forename }}"></div>
                <div><input type="text" name="surname" form="user_edit_{{ user.id }}" value="{{ user.surname }}"></div>
                <div><input type="text" name="street" form="user_edit_{{ user.id }}" value="{{ user.street }}"></div>
                <div><input type="text" name="streetno" form="user_edit_{{ user.id }}" value="{{ user.streetNo }}"></div>
                <div><input type="text" name="zipcode" form="user_edit_{{ user.id }}" value="{{ user.zipCode }}"></div>
                <div><input type="text" name="city" form="user_edit_{{ user.id }}" value="{{ user.city }}"></div>
                <div><input type="text" name="phone" form="user_edit_{{ user.id }}" value="{{ user.phone|join(',') }}"></div>
                <div><button type="submit" name="submit" form="user_edit_{{ user.id }}"><i class="fi-pencil"></i></button</div>
                <div><input type="submit" name="delete" form="user_edit_{{ user.id }}" value=" Löschen "></div>
            </form>
{% endfor %}
            <form id="user_add" action="{{ path('wineadministration_webinterface_addclient') }}" method="POST">
                <div><input type="text" name="forename" form="user_add" value=""></div>
                <div><input type="text" name="surname" form="user_add" value=""></div>
                <div><input type="text" name="street" form="user_add" value=""></div>
                <div><input type="text" name="streetno" form="user_add" value=""></div>
                <div><input type="text" name="zipcode" form="user_add" value=""></div>
                <div><input type="text" name="city" form="user_add" value=""></div>
                <div><input type="text" name="phone" form="user_add" value=""></div>
                <div><input type="submit" form="user_add" value=" Hinzufügen "></div>
            </form>
        </div>
{% endblock %}